<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Card_Game</title>
    <meta name="description" content="Card_Game">
    <link rel="stylesheet" href="css/login_reg.css">
</head>

<body>
    <section class="forms-section">
        <div class="forms">
            <div class="form-wrapper" id="is-active">
                <button type="button" class="switcher switcher-login">
                    Login
                    <span class="underline"></span>
                </button>
                <form class="form form-login" enctype="multipart/form-data">
                    <fieldset>
                        <legend>Please, enter your email and password for login.</legend>
                        <div class="input-block">
                            <label for="login">Login</label>
                            <input name="login" id="login-login" type="text" required>
                        </div>
                        <div class="input-block">
                            <label for="password">Password</label>
                            <input name="password" id="login-password" type="password" required>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn-login">Login</button>
                    <p><a href="remind">Forgot password?</a></p>
                    <fieldset>
                        <div class="answer"></div>
                    </fieldset>
                </form>
            </div>
            <div class="form-wrapper" id="is-passive">
                <button type="button" class="switcher switcher-signup">
                    Sign Up
                    <span class="underline"></span>
                </button>
                <form class="form form-signup" enctype="multipart/form-data">
                    <fieldset>
                        <legend>Please, enter your email, password and password confirmation for sign up.</legend>
                        <div class="input-block">
                            <label for="login">Login</label>
                            <input name="login" id="signin-login" type="text" required>
                        </div>
                        <div class="input-block">
                            <label for="password">Password</label>
                            <input name="password" id="signin-password" type="password" required>
                        </div>
                        <div class="input-block">
                            <label for="email">E-mail</label>
                            <input name="email" id="email" type="text" required>
                        </div>
                        <div class="input-block">
                            <label for="avatar">Avatar</label>
                            <input type="file" name="avatar" id="avatar">
                        </div>
                    </fieldset>
                    <button type="submit" class="btn-signup">Continue</button>
                    <fieldset>
                        <div class="answer"></div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
    <script>
        const switchers = [...document.querySelectorAll('.switcher')]
        switchers.forEach(item => {
            item.addEventListener('click', function () {
                switchers.forEach(item => item.parentElement.setAttribute('id', 'is-passive'));
                this.parentElement.setAttribute('id', 'is-active');
            });
        });
        const form1 = document.getElementsByTagName('form')[0];
        const form2 = document.getElementsByTagName('form')[1];
        const avatar = document.getElementById('avatar');
        form1.addEventListener('submit', () => {
            regSubmit(event, form1, 'login')
            return false;
        });
        form2.addEventListener('submit', () => {
            regSubmit(event, form2, 'sigin')
            return false;
        });

        avatar.addEventListener('change', (e) => {
            let file = e.target.files[0]
            console.log(e.target.files[0]);
            console.log(file.name);
            console.log(file.type)

            // проверяем тип файла
            if (!["image/jpeg", "image/png", "image/gif", "image/svg+xml"].includes(file.type)) {
                alert('Images only.');
                avatar.value = '';
            }
            return false;
        });

        async function regSubmit(event, form, str) {
            event.preventDefault();
            let data = new FormData(form);
            data.set('method', str);
            const res = await fetch('/send', {
                method: 'POST',
                body: data,
            });
            const resDATA = await res.json();
            if (resDATA.data == true) {
                window.location.href = '/game'
            }
            else {
                console.log(resDATA.data)
                form.getElementsByClassName('answer')[0].innerHTML = resDATA.data;
            }
        }
    </script>
</body>

</html>