<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Welcome!</title>
    <meta name="description" content="forms">
    <link rel="stylesheet" href="css/reminder.css">
</head>

<body>
    <section class="forms-section">
        <div class="forms">
            <a href="/" id="back_link">&lArr;BACK</a>
            <div class="form-wrapper is-active">
                <button type="button" class="switcher switcher-login">
                    Reminder
                    <span class="underline"></span>
                </button>
                <form class="form form-login" id="form_remind">
                    <fieldset>
                        <legend>Please, enter your email.</legend>
                        <div class="input-block">
                            <label for="login-email">E-mail</label>
                            <input name="email" id="login-email" type="email" required>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn-login">SEND</button>
                    <fieldset>
                        <div id="remind-answer"></div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
    <script>
        let form1 = document.getElementById("form_remind");
        form1.addEventListener('submit', () => {
            regSubmit(event, 'remind')
            return false;
        });
        async function regSubmit(event, form) {
            console.log('ok')
            event.preventDefault();
            let data = {};
            data.method = form;
            data.email = document.getElementById('login-email').value;
            const res = await fetch('/send', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            const resDATA = await res.json();
            document.getElementById('remind-answer').innerHTML = resDATA.data;
        }
    </script>
</body>

</html>