<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Card_Game</title>
    <meta name="description" content="Card_Game">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    ok
    <form id="form">
        <button type="submit">SEND</button>
    </form>
    <script type="module" src="/js/socket.js"></script>
</body>

</html>